/* ШРИФТЫ */
@font-face {
    font-family: 'Riffic';
    src: url('../fonts/Riffic-Bold.woff') format('woff'),
        url('../fonts/Riffic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* ОСНОВНЫЕ СТИЛИ ПРОЕКТА */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.container {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h2 {
    font-family: 'Riffic';
    text-align: center;
    font-size: 40px;
    color: #fff;
}



/* ДОПОЛНИТЕЛЬНЫЕ НАСТРОЙКИ */
/* Блокировка скролла при вызове на телефоне меню */
.body.lock {
    overflow: hidden;
}

/* Адаптивная настройка фона под все устройства */
.body-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: scale(1.0);
    transition: 1s ease;
}

.body-bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/aboutUs.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ХЕДЕР */
.header {
    padding: 0 20px;
    position: absolute;
    width: 100%;
}

.header::after {
    content: '';
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    z-index: 9;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    color: #fff;
}

.logo__link {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: end;
    gap: 5px;
}

.header-boock,
.header-text {
    transition: 0.6s ease;
}

.logo__link:hover .header-boock {
    transform: rotate(30deg) translateX(12px) translateY(-5px);
}

.logo__link:hover .header-text {
    transform: translateX(20px);
}

.header__menu-button {
    display: none;
}

.header__menu-button {
    position: relative;
    z-index: 10;
    display: none;
}

.header__menu-list {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: 'Riffic';
    color: #fff;
}

.header__menu-item {
    transition: 0.6s ease;
}

.header__menu-item:hover {
    transform: translateX(5px);
    color: #F75725;
}

.header__menu-item.--active {
    transform: none;
    color: #F75725;
}

.header-login {
    position: relative;
    z-index: 10;

    display: inline-block;

    font-family: 'Riffic';
    font-size: 15px;

    color: #573D2C;
    background-color: #fff;

    padding: 8px 20px;
    border-radius: 10px;
    letter-spacing: 0.2em;
    transition: 0.6s ease;
    box-shadow: 8px -8px 10px #151515;
}

.header-login:hover {
    transform: translateX(5px);
    box-shadow: 4px -4px 5px #151515;
    background-color: #F75725;
    color: #fff;
}



/* Секция 1 */
.start__inner {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-title {
    font-size: 80px;
    padding: 0 20px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 2px 4px 4px #151515bd;
}

/* Секция 2 */
.start-img {
    width: 100%;
    filter: drop-shadow(0px -25px 10px #15151570);
}

.history {
    background-color: #fff;
    padding-bottom: 40px;
}

.history-title {
    padding-top: 150px;
    padding-bottom: 40px;
    font-size: 80px;
    color: #573D2C;
}

.swiper__inner {
    background: url(../images/pictures/teams/none.jpg) no-repeat center / cover;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #151515bd;
}

.right-block {
    width: 70px;
    background-color: #573D2C;
}

.news-swiper {
    width: 100%;
    height: 400px;
    position: relative;
    backdrop-filter: blur(5px) brightness(70%);
}

.swiper-vertical>.swiper-pagination-bullets {
    right: -35px;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #F75725;
}

.news-button-prev {
    position: absolute;
    top: 10px;
    right: -45px;
    content: '';
    background: url(../images/icons/news-arrow-top.svg) no-repeat center / cover;
    height: 55px;
    width: 30px;
}

.news-button-next {
    position: absolute;
    bottom: 10px;
    right: -45px;
    content: '';
    background: url(../images/icons/news-arrow-button.svg) no-repeat center / cover;
    height: 55px;
    width: 30px;
}

.news-item__inner {
    margin: 30px;
    height: 340px;
    color: #fff;
    overflow: auto;
}

.news-date {
    font-family: 'Comfortaa';
    text-align: left;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.news-version {
    text-align: left;
    text-shadow: 4px 2px 4px #151515bd;
    margin-bottom: 10px;
}

.news-title {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 4px 2px 4px #151515bd;
    margin-bottom: 20px;
}

.news-text {
    font-family: 'Comfortaa';
    margin-bottom: 20px;
}

hr {
    content: ' ';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 20px;
}

.news-text-title {
    font-family: 'Riffic';
    font-size: 30px;
    margin-bottom: 20px;
}

/* Секция 3 */
.UPD {
    background-color: #573D2C;
}

.UPD__inner {
    padding: 40px 0;
}

.UPD-title {
    font-size: 80px;
    text-align: left;
    margin-bottom: 30px;
}

.UPD__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.UPD__list hr {
    background-color: #fff;
    height: 3px;
    border-radius: 1px;
}

.UPD-item {
    position: relative;
}

.UPD-button {
    position: absolute;
    top: -7.5px;
    right: 0px;
    height: 40px;
    width: 40px;
}

.UPD-button span:first-child {
    content: '';
    position: absolute;
    top: 20px;
    display: block;
    height: 4px;
    width: 40px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(0deg);
}

.UPD-button span:last-child {
    content: '';
    position: absolute;
    top: 20px;
    display: block;
    height: 4px;
    width: 40px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(90deg);
    transition: transform 0.6s ease;
}

.UPD-question {
    font-family: 'Riffic';
    font-size: 30px;
    margin-right: 100px;
    cursor: pointer;
}

.UPD-answer {
    font-family: 'Comfortaa';
    padding: 0px 100px 0 20px;
    overflow: hidden;
    height: 0px;
    transition: height 0.6s ease;
}




/* ФУТЕР */
.footer__inner {
    background-color: #573D2C;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-title {
    position: relative;
    color: #fff;
    font-family: 'Riffic';
    font-size: 28px;
    margin-left: 40px;
}

.footer-title::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #F75725;
    height: 3px;
    border-radius: 2px;
    width: 100%;
    bottom: -10px;
    transition: 1s ease;
    transform: scale(0);
}

.footer-title:hover::before {
    transform: scale(1);
}

.footer__menu-list {
    display: flex;
    gap: 20px;
}

.footer__menu-link {
    transition: 1s ease;
}

.footer__menu-link:hover {
    transform: translateX(5px);
}



/* АДАПТИВ */
@media (max-width: 1000px) {

    /* ХЕДЕР */
    .logo__link {
        position: relative;
        z-index: 10;
        background: url(/images/icons/logo-mini.svg) no-repeat;
        width: 64px;
        height: 47px;
    }

    .header-boocks,
    .header-boock,
    .header-text {
        display: none;
    }

    /* Секция 6 */
    .UPD-title{
        font-size: 60px;
    }
    .UPD-question{
        font-size: 20px;
        margin-right: 50px;
    }
    .UPD-answer{
        font-size: 16px;
        padding-right: 0;
        text-align: justify;
    }
    .UPD-button{
        width: 30px;
        height: 30px;
        top: -10px;
    }
    .UPD-button span:first-child, .UPD-button span:last-child{
        width: 30px;
    }
}

@media (max-width: 900px) {

    /* ХЕДЕР */
    .header-login {
        display: none;
    }
}

@media (max-width: 800px) {

    /* Первая секция */
    .start-title {
        font-size: 60px;
    }
}

@media (max-width: 700px) {

    /* Футер */
    .footer-title {
        display: none;
    }
}

@media (max-width: 600px) {

    /* ХЕДЕР */
    .header::after,
    .header__inner {
        height: 60px;
    }

    .logo__link {
        transform: scale(0.7);
    }

    /* Хедер - кнопка меню */
    .header__menu-button {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: 0.6s ease;
    }

    .header__burger::after,
    .header__burger::before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.6s ease;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.--active span {
        transform: scale(0);
    }

    /* Настраиваем и скрываем меню */
    .header__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        padding: 100px 0 0 0;
        backdrop-filter: blur(5px);
        background-color: #3e3e3e63;
        transition: 1.5s ease;
        z-index: 9;
    }

    .header__menu.--active {
        top: 0;
    }

    .header__menu-list {
        flex-direction: column;
        font-size: 40px;
        text-shadow: 4px 4px 10px #151515;
    }

    /* Секция 1 */
    .start-title {
        font-size: 40px;
    }

    /* Секция 2 */
    .history .container {
        padding: 0;
    }

    .swiper__inner {
        border-radius: 0;
    }

    .history-title {
        font-size: 40px;
    }

    .news-version {
        font-size: 30px;
    }

    .news-title {
        font-size: 25px;
    }

    .right-block {
        width: 50px;
    }

    .news-button-prev,
    .news-button-next {
        right: -33px;
        height: 40px;
        width: 20px;
    }

    .swiper-vertical>.swiper-pagination-bullets {
        right: -30px;
    }

    /* Секция 6 */
    .UPD-title{
        font-size: 40px;
    }


    /* ФУТЕР */
    .footer__logo-link img {
        width: 70px;
        height: 40px;
    }

    .footer-title {
        font-size: 20px;
    }

    .footer__menu-link img {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 500px) {

    /* Футер */
    .footer__logo-link img {
        height: 30px;
    }

    .footer__menu-list img {
        height: 25px;
    }
}